
.header{
    position: relative;
}
.header__menu{
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 3rem;
    width: 100%;
    z-index: 999999;
    display: flex;
    justify-content: space-between;
    position: absolute;
}
.header__menu__left__logo{
    width: 5.7rem;
    height: 9.888rem;
}
 .header__slider,.header__menu__right,.header__slider__item,.header__menu__right__left{
    display: flex;
    
}
.header__menu__right__left{
    column-gap: 9.2rem;
}
.header__menu__right__left__menulist ul{
    column-gap: 4rem;
}
.header__menu__right__left__menulist ul a,i{
    color: var(--color-white);
    font-weight: 400;
    font-size: 1.6rem;
    cursor: pointer;
}
/* header menu toggle *//* header menu toggle *//* header menu toggle *//* header menu toggle */

.active .header__menu__left__logo,.active .header__menu__left,.active .searchIcon{
    display: none;
}
.active ul{
    width: 100%;
flex-direction: column;
gap: 1.5rem;
background-color: darkcyan;

}
.active ul li{

    width: 100%;
  display: flex;
  justify-content: space-between;
  
    
    }
.active a{
color: var(--color-white);
    
    }
    .active{
        
        padding-left: 1.6rem;
        padding-top: 4rem;
        margin: 0;
        background-color: red;
       
    }
.header__menu__left__hideShow{
    display: none;
}
.ulActive{
width: 300rem;
}
